body {
    font-family: raleway, sans-serif;
    min-height: 100vh;
    /* background-image: url('images/pngtree-company-profile-corporate-culture-exhibition-board-display-poster-material-image_131622.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #5F9EA0;
    color: #04292b;
}

.fullname {
    font-size: 43px;
}

.job-title {
    font-size: 23px;
}

.profile-image {
    width: 200px;
    height: 190px;
    border-radius: 50%;
}